# Data Science Tools and Ecosystem

## Author
Kaycee Molina

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
* List Popular Languages for Data Science
* Demonstrate Examples of Evaluating Arithmetic in Python 
* List Commonly Used Libraries in Data Science

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scientific Computing Libraries
2. Visualization Libraries 
3. High Level Machine Learning Libraries

|Data Science Tools|
| ----- |
| My SQL |
| PostgreSQL|
| Apache Cassandra |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
print("This is a simply arithmetic expression to multiply then add integers")
(3*4)+5

This is a simply arithmetic expression to multiply then add integers

17

In [12]:
print("This will convert 200 minutes to hours by dividing by 60") 
(200/60)

This will convert 200 minutes to hours by dividing by 60

3.3333333333333335